[Desktop Entry]
Name=Restart kmonad.service so that it loads DISPLAY (PATH is loaded by another service)
Type=Application
Exec=systemctl --user restart kmonad
Terminal=false

