# See:    https://wiki.archlinux.org/title/Power_management
#         https://evenmoreunixhacks.blogspot.com/2015/06/xkbcomp-systemd-and-suspend.html
# Reason: https://gitlab.freedesktop.org/xorg/xserver/-/issues/266
#
[Unit]
Description=Reload XKB map on sleep resuming
Before=sleep.target
StopWhenUnneeded=yes

[Service]
# TODO log in as other user and see if templated service is really required, experiment what happens
#  Can multi-user env (multiple users logged in) override other user's stuff! is @gerard.service triggered by other users?
User=%I
Type=oneshot
RemainAfterExit=yes
# DISPLAY env should not be hardcoded, but can't find a way to properly import it for system services like this one.
#  Maybe `echo 'systemctl import-environment DISPLAY' >> /root/.profile` could make it, but probably messing root's
#  profile doesn't worth it.
Environment=DISPLAY=:1
ExecStart=/usr/bin/xkbcomp $DISPLAY /tmp/xkb-%I.xkb
ExecStop=/bin/sleep 3 ; /usr/bin/xkbcomp /tmp/xkb-%I.xkb $DISPLAY

[Install]
WantedBy=sleep.target
