[Unit]
Description=KMonad service

[Service]
Type=simple
ExecStart=%h/.local/bin/kmonad %h/.config/kmonad/mi-keyboard.kbd

[Install]
WantedBy=default.target

