[Unit]
Description=KMonad service
After=graphical-session.target

[Service]
Type=simple
#Environment="PATH=/home/gerard/bin/keyboard-triggers:..."
# The pre-exec will write the user.path file
PreExecStart=/bin/bash -c 'source %h/.shell/shellrc'
# Import the path from a file (see ~/.shell/shellrc)
EnvironmentFile=/run/user/%U/user.path
ExecStart=%h/.nix-profile/bin/kmonad %h/.config/kmonad/mi-keyboard.kbd
Restart=always
RestartSec=3
KillMode=process

[Install]
WantedBy=default.target

