#
# DEPRECATED in favor of keyd
#  keyd offers a simpler and flexible key remapping (and more)
#

[Unit]
Description=Load XKB modifications

[Service]
Type=simple
ExecStart=%h/bin/xkbcomp-load-mods

[Install]
WantedBy=default.target
